<div class="container" *ngIf="descriptionType$ | async as type">
    <div class="row">
        <div class="col">
            <mat-radio-group aria-label="Select an option" class="selection-container">
                <mat-radio-button
                    class="radio-item"
                    *ngFor="let item of descriptionTypes"
                    [checked]="item.value === type"
                    [value]="item.value"
                    (change)="changeType(item.value)"
                >
                    {{item.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>
