<mat-card class="prompt-preview">
    <mat-card-header>
        <h2>Voice Prompt Preview</h2>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="promptPreview">
            <mat-form-field appearance="fill" class="prompt-text" color="accent">
                <mat-label>Tone Prompt</mat-label>
                <textarea matInput formControlName="tone" readonly></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="prompt-text" color="accent">
                <mat-label>Emotion Prompt</mat-label>
                <textarea matInput formControlName="emotion" readonly></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="prompt-text" color="accent">
                <mat-label>Persona Prompt</mat-label>
                <textarea matInput formControlName="persona" readonly></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="prompt-text" color="accent">
                <mat-label>Genre Prompt</mat-label>
                <textarea matInput formControlName="genre" readonly></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="prompt-text" color="accent">
                <mat-label>Topics Prompt</mat-label>
                <textarea matInput formControlName="topic" readonly></textarea>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>
